.home_photo {
  height: 350px;
  width: 750px;
  border-radius: 10px;
}

.rose {
  font-family: 'Courier New', Courier, monospace;
  height: 297px;
  width: 210px;
  font-size: 7px;
  font-weight: bold;
  color: black;
  background-color: #c21e56;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rose_thumb {
  width: 400px;
  height: 100px;
  top: 150px;
  left: 10%;
  position: absolute;
  border-radius: 25px;
  background-color: #c21e56;
  background-size: 500px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aqua {
  font-family: 'Courier New', Courier, monospace;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aqua_thumb {
  width: 400px;
  height: 100px;
  top: 150px;
  left: 65%;
  position: absolute;
  border-radius: 25px;
  background-color: aqua;
  background-size: 500px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  font-family: 'Courier New', Courier, monospace;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: #ACE1AF;
  display: flex;
  justify-content: center;
  align-items: center;

}

.green_thumb {
  width: 400px;
  height: 100px;
  left: 10%;
  top: 325px;
  position: absolute;
  border-radius: 25px;
  background-color: #ACE1AF;
  background-size: 500px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  font-family: 'Courier New', Courier, monospace;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: #F4C430;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow_thumb {
  width: 400px;
  height: 100px;
  left: 65%;
  top: 325px;
  position: absolute;
  border-radius: 25px;
  background-color: #F4C430;
  background-size: 500px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_render {
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
}

.login {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 100px;
}



